@import "//at.alicdn.com/t/c/font_4816594_zyeetxf9vit.css";

@font-face {
    font-family: "PingFang-Medium";
    src: url("./PingFang Medium.ttf");
}
@font-face {
    font-family: "PingFang-Light";
    src: url("./PingFang Light.ttf");
}

@font-face {
    font-family: "PingFang-Regular";
    src: url("./PingFang Regular.ttf");
}

@font-face {
    font-family: "DingTalk_JinBuTi_Regular";
    src: url("./DingTalk_JinBuTi_Regular.ttf");
}
